.title {
  font-size: 2.5em;
  color: aliceblue;
  margin: 10px 0 0 20px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  border: solid 3px white;
  border-radius: 15px;
  margin: 20px;
  transition: 0.5s;
  cursor: default;
}

li:hover {
  transform: scale(1.1);
}

li h2,
p {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  color: aliceblue;
}

.info_del {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

li a {
  color: #e9ff00;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

input {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 25%;
  background: aliceblue;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
}
